<main class="my-form">
  <div class="cotainer">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Register</div>
          <div class="card-body">
            <form name="my-form">

              <div class="form-group row">
                <label for="first_name" class="col-md-4 col-form-label text-md-right">First Name</label>
                <div class="col-md-6">
                  <input type="text" id="first_name" class="form-control" name="email-address" [(ngModel)]="user.firstName">
                </div>
              </div>

              <div class="form-group row">
                <label for="last_name" class="col-md-4 col-form-label text-md-right">Last Name</label>
                <div class="col-md-6">
                  <input type="text" id="last_name" class="form-control" name="username" [(ngModel)]="user.lastName">
                </div>
              </div>

              <div class="form-group row">
                <label for="email" class="col-md-4 col-form-label text-md-right">Email</label>
                <div class="col-md-6">
                  <input type="text" id="email" class="form-control" [(ngModel)]="user.email">
                </div>
              </div>

              <div class="form-group row">
                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                <div class="col-md-6">
                  <input type="text" id="password" class="form-control" [(ngModel)]="user.password">
                </div>
              </div>

              <div class="col-md-6 offset-md-4">
                <button (click)="registerUser()" type="submit" class="btn btn-primary">
                  Register
                </button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>

</main>
