<div class="container">
  <div class="row my-2">
    <div class="col-lg-8 order-lg-2">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="/personalArea" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
        </li>
        <li class="nav-item">
          <a href="/personalArea/edit" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
        </li>
      </ul>
      <div class="tab-content py-4">
        <div class="tab-pane active" id="profile">
          <h5 class="mb-3">User Profile</h5>
          <div class="row">
            <div class="col-md-6">
              <h6>About</h6>
              <p>
                Web Designer, UI/UX Engineer
              </p>
              <h6>Hobbies</h6>
              <p>
                Indie music, skiing and hiking. I love the great outdoors.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 order-lg-1 text-center">
      <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
      <h6 class="mt-2">Upload a different photo</h6>
      <label class="custom-file">
        <input type="file" id="file" class="custom-file-input">
        <span class="custom-file-control">Choose file</span>
      </label>
    </div>
  </div>
</div>
