<div class="text-center">
  <form class="form-signin">
    <h5 class="h3 mb-3 font-weight-normal">Login please</h5>

    <label for="inputEmail" class="sr-only">Email address</label>
    <input [(ngModel)]="user.email" name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

    <label for="inputPassword" class="sr-only">Password</label>
    <input [(ngModel)]="user.password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <button class="btn btn-lg btn-primary btn-block" (click)="login(user)" type="submit">Login</button>
    <button class="btn btn-lg btn-primary btn-block" type="button" [routerLink]="['/registration']">Register</button>

    <p class="mt-5 mb-3 text-muted">&copy;DreamTeam corp.</p>
  </form>
</div>
