<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <!-- Category -->
      <div class="single category">
        <h3 class="side-title">Admin page. Categories</h3>
        <ul class="list-unstyled">
          <li *ngFor="let c of categories">
            <a href="admin/category/{{c.id}}"> Some info {{c.name}}</a>
          </li>
          <li><a href="" title="">Mobile Phones </a></li>
          <li><a href="" title="">Shoes </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>





